# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\zohre\Desktop\Mohammad\WbeDevAndrei\tutorial_docs\react_section\monster-rolo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
